body {
    text-align: center;
    background: #eeeeee;
    line-height: 1.6;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

p {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    margin-top: 5ch;
}

h1 + h2 {
    color: #9e9e9e;
    text-decoration: underline;
}

h2, h4 {
    color: #9e9e9e
}

#profile-pic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 70%;
    margin-bottom: 2ch;
}

section {
    margin-bottom: 50px;
    &::before {
        content: "";
        background: #d3d3d3;
        display: block;
        height: 3px;
        width: 100%;
    }
}

.about-container {
    display: flex;
    justify-content: center;
    gap: 6ch;

    div {
        background: #fef7ff;
        width: 30ch;
        padding: 3ch;
        box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 25%);
    }

    li {
        position: relative;
        padding-bottom: 1ch;
    }

    li::after {
        content: '•'; /* The bullet point character (•) */
        position: absolute;
        bottom: 0;
        left: 50%; /* Centers the dot */
        transform: translate(-50%, 40%);
        color: #d3d3d3; /* You can change the color of the dots if needed */
    }
    
    /* Remove dot after the last item */
    li:last-child::after {
        display: none;
    }
}

.contact {
    img {
        width: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    a{
        text-decoration: none;
    }
}

.project {

    h3 {
        font-size: 1.8rem;
    }

    &::after {
        content: "";
        background: #d3d3d3;
        display: block;
        height: 1px;
        width: 100%;
    }
}

.project-preview {
    width: 400px;
    box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 25%);
}


.technologies-used {
    margin-bottom: 20px;
}

.tech-icons {
    display: flex;
    gap: 10px;
    justify-content: center;

    img {
        width: 50px;
    }
}

.project-link-icon {
    width: 50px;
    padding-left: 20px;
    padding-right: 20px;
}